<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:body]} type="hidden" label="Body" id="hidden-content" />
  <div id="editor-container" phx-hook="QuillEditor"></div>

  <:actions>
    <.button>Save Post</.button>
  </:actions>
</.simple_form>
